.page-not-found {
  height: 100%;
  width: 100%;
  background: radial-gradient(50% 50%, ellipse cover, #c0e4eb, #a3d7e0 100%);
  text-align: center; }

.windmill {
  text-align: center;
  position: relative; }

.tower {
  display: inline-block;
  margin-top: 25px; }

.blades {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -139px;
  animation: spin-clockwise 5.25s linear infinite; }

@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }
